body {
  background-color: rgb(250, 250, 250);
}

.all-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-bottom: 50px;
 
}


.article-content {
  text-align: justify;
  width: 70%; 
  
}

.photo-1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.title-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}


.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  justify-items: center;
  width: 100%;
  column-gap: 15px;

}

ul li {
  margin-left: 25px;
}
.photo-dog {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}


.last-photo {
  width: 60%;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}


/*Right side of the article*/

.article-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  min-width: 30%;
  background-color:  rgb(255, 244, 246);
  margin-top: 50px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 20px;
}

.article-grid:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.article-grid:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.photo-grid-1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.description {
  text-align: center;
  padding: 0 10px;
  font-size: 15px;
}
.read-more {
  max-width: 130px;
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(92, 84, 84);
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.read-more:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(247, 212, 218);
}

@media (max-width: 750px) {
  .all-page {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  }
  .article-content {
    width: 100%;
  }

  h2 {
    font-size: 17px;
  }

  }
  
@media (min-width: 751px) and (max-width: 1230px) {
  .all-page {
    width: 90%;
  }
  .article-content {
    margin-right: 20px;
  }
  .article-grid {
    max-width: 250px;
   }
  h1 {
    font-size: 30px;
    }
    
  h2 {
    font-size: 20px;
  }
  
}
