
body {
  background-color: rgb(250, 250, 250);
}

section {
  width: 70%;
  margin: 0 auto;
}


h1 span {
  color: rgb(243, 210, 215);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.title-image {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.about-me {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section p {
text-align: justify;
}

.row-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  width: 100%;
  margin: 0 auto;

}

.oana-photo {
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.corfu-chicago {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.city {
  width: 40%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 50px;

}
@media (max-width:550px) {
  .topbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;
    height: 200px;
    width: 100%
  }
  
  /*Left side*/
  .logo {
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
  }
  .oana {
    font-size: 20px;
  }
  /*Right side*/
.right-side {
  height: 50px;
  width:100%;
  flex-direction: column;
}

.search-bar {
  height: 15px;

}

.search-bar input {
  width: 50px;
}

.search-bar:hover input {
  width: 150px;
}

.social-media-icon {
  font-size: 15px;
  padding: 0 15px;
}

}

@media (min-width: 551px) and (max-width:1050px) {
  .topbar {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    width: 100%;
    padding: 0 20px;
  }
  
  /*Left side*/
  .logo {
    height: 60px;
    width: 200px;
    margin-bottom: 10px;
  }
  .oana {
    font-size: 20px;
  }
  /*Right side*/
.right-side {
  height: 180px;
  width:100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.search-bar {
  height: 15px;
}

.search-bar input {
  width: 50px;
}

.social-media-icon {
  font-size: 15px;
  padding: 0 15px;
}


}