body {
  background-color: rgb(255, 255, 255);
}

.about-dog {
  width: 60%;
  height: 50%;
  object-fit: cover;
  border-radius: 15px;
}

.about-content {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  display: block;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-description p {
  text-align: justify;
}
